{% extends "base.html" %}

{%block title%} Main page{%endblock%}

{%block body%}
<div class = "">
<a href="{% url "add" %}">Add new car</a>
</div>


 
  <h1>Car List</h1>
  <form method="get">
        {{myFilter.form}}

    <button class = "btn btn-primary" type = "submit">
        Search
    </button>
  </form>
  <table border="1">
      <tr>
          <th>Marka</th>
          <th>Model</th>
          <th>Year</th>
          <th>Type of Fuel</th>
          <th>Type KPP</th>
          <th>Mileage</th>
          <th>Price</th>
      </tr>
      {% for car in cars %}
      <tr>
          <td>{{ car.marka }}</td>
          <td>{{ car.model }}</td>
          <td>{{ car.year }}</td>
          <td>{{ car.type_fuel }}</td>
          <td>{{ car.type_KPP }}</td>
          <td>{{ car.mileage }}</td>
          <td>{{ car.price }}</td>
      </tr>
      {% endfor %}
  </table>
{%endblock%}