{% extends "base.html" %}

{%block title%} Main page{%endblock%}

{%block body%}

<a href="{% url "add" %}">Add new car</a>



 
  <h1>Car List</h1>
  <select name="avto">
    <option value="">--фильтры--</option>
    <option value="1">по марке</option>
    <option value="2">по модели</option>
    <option value="3">по году выпуска</option>
    <option value="4">по типу топлива</option>
    <option value="5">по типу КПП</option>
    <option value="6">по пробегу</option>
    <option value="7">по цене</option>
   
  </select><br>
  <table border="1">
      <tr>
          <th>Marka</th>
          <th>Model</th>
          <th>Year</th>
          <th>Type of Fuel</th>
          <th>Transmission Type</th>
          <th>Mileage (km)</th>
          <th>Price</th>
      </tr>
      {% for car in cars %}
      <tr>
          <td>{{ car.marka }}</td>
          <td>{{ car.model }}</td>
          <td>{{ car.year }}</td>
          <td>{{ car.type_fuel }}</td>
          <td>{{ car.type_KPP }}</td>
          <td>{{ car.mileage }}</td>
          <td>{{ car.price }}</td>
      </tr>
      {% endfor %}
  </table>
{%endblock%}